@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Condensed:wght@300&display=swap');

/* global style */
body{
    max-width: 1900px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(223, 239, 254) ;
}
.global-color {
    color: rgb(17, 167, 226);
}

/* header style */
nav{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
nav ul{
    display: flex;
}
nav ul li {
    list-style: none;
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: bold;
    
}
nav ul li a{
    text-decoration: none;
    color: rgb(81, 180, 219);
}
.header-right p{
    font-size:1.2em;
    font-weight: bold;
}
.banner{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.banner-paragraph{
    display: flex;
    align-items: center;
    width: 30%;
    margin-right: 30px;
    font-size: 1.2em;
    text-align: left;
}
.banner-photo{
    width: 30%;
    display: flex;
    align-items: center;
    margin-left: 36px;
}
.banner-photo img{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    transition: transform 1.5s ease;
}
.banner-photo img:hover{
    transform: scale(1.2);
}
/* main{
    display: flex;
    justify-content: center;
} */

/* players informations */
.players-parent{
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 150px;
    width: 980px;
    background-color: rgb(212, 239, 250);
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.player-info{
    margin-left: 36px;
}
.player img{
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: transform 1.5s ease;
}
.player img:hover{
    transform: rotate(360deg);
}
.player button{
    background-color:rgb(17, 167, 226);
    border: none;
    border-radius: 20px;
    padding: 8px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 0.5s ease;
}
.player button:hover{
    background-color: white;
}
.player a{
    text-decoration: none;
    font-size: 15px;
}
/* players part end */

.blog-parent{
    display: flex;
    justify-content:center;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-left: 5%;
}
.blog{
    display: flex;
    justify-content:space-around;
    width: 90%;
}
.blog img{
    width: 100%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 10%;
    transition: transform 1s ease;
}
.blog img:hover{
    transform: scale(1.2);
}
.blog p{
    margin-left: 16px;
}
.blog-hyperlink a{
    text-decoration: none;
}
/* blog part done */

footer{
    display: flex;
    justify-content: center;
    position: relative;
    top: 150px;
}
.container-footer{
    
}
.social-icons{
    margin-left: 50px;
    transition: 1.5s ease;
}
.social-icons a{
    color: #555;
    font-size: 18px;
    padding: 15px;
    border-radius: 50%;
}
.social-icons a:hover{
    color: rgb(17, 167, 226);
}
/* footer done */

/* animation with paragraph */
.animated-paragraph {
    animation: text-focus-in 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  @keyframes text-focus-in {
    0% {
      letter-spacing: 1em;
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0);
      opacity: 1;
    }
  }
  

  /* start media quary */


  /* for mobile divice */
  @media only screen and (max-width:576px) {
    nav{
        display:block;
        position: relative;
        left: 30%;
    }
    nav ul{
        display: block;
    }
    /* nav end  */

    .banner{
        display: block;
    }
    .banner-paragraph{
        display: block;
        position: relative;
        left: 10%;
        width: 80%;
    }
    .banner-photo{
        width: 80%;
        display: block;
        
    }
    /* banner part done */

    .players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
    /* players part done */

    .blogs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        margin-left: 5%;
    }
    .blog{
        display: block;
        width: 90%;
    }
  }

  /* for tab */
  @media screen and (min-width: 577px) and (max-width: 992px){   
    nav{
        display:block;
        position: relative;
        left: 40%;
    }
    nav ul{
        display: block;
    }
    /* nav end  */

    .banner{
        display: block;
    }
    .banner-paragraph{
        display: block;
        position: relative;
        left: 10%;
        width: 80%;
    }
    .banner-photo{
        width: 80%;
        display: block;
        
    }
    .banner-photo img{
        margin-left:5%;
    }
    /* banner part done */

    .players{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    /* players part done */

    .blogs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        margin-left: 5%;
    }
    .blog{
        display: block;
        width: 90%;
    }
  }